@import "variables";

@font-face {
  font-family: 'cbcrc';
  src:  url('@{icomoon-font-path}/cbcrc.eot?me4c7p');
  src:  url('@{icomoon-font-path}/cbcrc.eot?me4c7p#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/cbcrc.ttf?me4c7p') format('truetype'),
    url('@{icomoon-font-path}/cbcrc.woff?me4c7p') format('woff'),
    url('@{icomoon-font-path}/cbcrc.svg?me4c7p#cbcrc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cbcrc-icon-"], [class*=" cbcrc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cbcrc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cbcrc-icon-tool {
  &:before {
    content: @cbcrc-icon-tool;
  }
}
.cbcrc-icon-bug {
  &:before {
    content: @cbcrc-icon-bug;
  }
}
.cbcrc-icon-exit {
  &:before {
    content: @cbcrc-icon-exit;
  }
}
.cbcrc-icon-asterisk {
  &:before {
    content: @cbcrc-icon-asterisk;
  }
}
.cbcrc-icon-block {
  &:before {
    content: @cbcrc-icon-block;
  }
}
.cbcrc-icon-burger {
  &:before {
    content: @cbcrc-icon-burger;
  }
}
.cbcrc-icon-calendar {
  &:before {
    content: @cbcrc-icon-calendar;
  }
}
.cbcrc-icon-camera {
  &:before {
    content: @cbcrc-icon-camera;
  }
}
.cbcrc-icon-comment {
  &:before {
    content: @cbcrc-icon-comment;
  }
}
.cbcrc-icon-discussion {
  &:before {
    content: @cbcrc-icon-discussion;
  }
}
.cbcrc-icon-document {
  &:before {
    content: @cbcrc-icon-document;
  }
}
.cbcrc-icon-download {
  &:before {
    content: @cbcrc-icon-download;
  }
}
.cbcrc-icon-drag-handle {
  &:before {
    content: @cbcrc-icon-drag-handle;
  }
}
.cbcrc-icon-error-circle {
  &:before {
    content: @cbcrc-icon-error-circle;
  }
}
.cbcrc-icon-folder-outline {
  &:before {
    content: @cbcrc-icon-folder-outline;
  }
}
.cbcrc-icon-folder {
  &:before {
    content: @cbcrc-icon-folder;
  }
}
.cbcrc-icon-font-size {
  &:before {
    content: @cbcrc-icon-font-size;
  }
}
.cbcrc-icon-gallery {
  &:before {
    content: @cbcrc-icon-gallery;
  }
}
.cbcrc-icon-gem {
  &:before {
    content: @cbcrc-icon-gem;
  }
}
.cbcrc-icon-headphone-add {
  &:before {
    content: @cbcrc-icon-headphone-add;
  }
}
.cbcrc-icon-headphone-added {
  &:before {
    content: @cbcrc-icon-headphone-added;
  }
}
.cbcrc-icon-headphone-list {
  &:before {
    content: @cbcrc-icon-headphone-list;
  }
}
.cbcrc-icon-headphone-minus {
  &:before {
    content: @cbcrc-icon-headphone-minus;
  }
}
.cbcrc-icon-headphone-remove {
  &:before {
    content: @cbcrc-icon-headphone-remove;
  }
}
.cbcrc-icon-headphone {
  &:before {
    content: @cbcrc-icon-headphone;
  }
}
.cbcrc-icon-home {
  &:before {
    content: @cbcrc-icon-home;
  }
}
.cbcrc-icon-illustration {
  &:before {
    content: @cbcrc-icon-illustration;
  }
}
.cbcrc-icon-info-circle-outline {
  &:before {
    content: @cbcrc-icon-info-circle-outline;
  }
}
.cbcrc-icon-info {
  &:before {
    content: @cbcrc-icon-info;
  }
}
.cbcrc-icon-link {
  &:before {
    content: @cbcrc-icon-link;
  }
}
.cbcrc-icon-live-2 {
  &:before {
    content: @cbcrc-icon-live-2;
  }
}
.cbcrc-icon-live {
  &:before {
    content: @cbcrc-icon-live;
  }
}
.cbcrc-icon-location {
  &:before {
    content: @cbcrc-icon-location;
  }
}
.cbcrc-icon-more-horiz {
  &:before {
    content: @cbcrc-icon-more-horiz;
  }
}
.cbcrc-icon-more-vert {
  &:before {
    content: @cbcrc-icon-more-vert;
  }
}
.cbcrc-icon-open-in-new {
  &:before {
    content: @cbcrc-icon-open-in-new;
  }
}
.cbcrc-icon-printer {
  &:before {
    content: @cbcrc-icon-printer;
  }
}
.cbcrc-icon-profile-circle-outline {
  &:before {
    content: @cbcrc-icon-profile-circle-outline;
  }
}
.cbcrc-icon-profile {
  &:before {
    content: @cbcrc-icon-profile;
  }
}
.cbcrc-icon-question-circle {
  &:before {
    content: @cbcrc-icon-question-circle;
  }
}
.cbcrc-icon-search {
  &:before {
    content: @cbcrc-icon-search;
  }
}
.cbcrc-icon-second-screen {
  &:before {
    content: @cbcrc-icon-second-screen;
  }
}
.cbcrc-icon-settings {
  &:before {
    content: @cbcrc-icon-settings;
  }
}
.cbcrc-icon-time {
  &:before {
    content: @cbcrc-icon-time;
  }
}
.cbcrc-icon-upload {
  &:before {
    content: @cbcrc-icon-upload;
  }
}
.cbcrc-icon-videocam {
  &:before {
    content: @cbcrc-icon-videocam;
  }
}
.cbcrc-icon-view-list {
  &:before {
    content: @cbcrc-icon-view-list;
  }
}
.cbcrc-icon-view-module {
  &:before {
    content: @cbcrc-icon-view-module;
  }
}
.cbcrc-icon-warning {
  &:before {
    content: @cbcrc-icon-warning;
  }
}
.cbcrc-icon-witness {
  &:before {
    content: @cbcrc-icon-witness;
  }
}
.cbcrc-icon-email-circle-outline {
  &:before {
    content: @cbcrc-icon-email-circle-outline;
  }
}
.cbcrc-icon-email-circle {
  &:before {
    content: @cbcrc-icon-email-circle;
  }
}
.cbcrc-icon-email-square {
  &:before {
    content: @cbcrc-icon-email-square;
  }
}
.cbcrc-icon-email {
  &:before {
    content: @cbcrc-icon-email;
  }
}
.cbcrc-icon-facebook-circle-outline {
  &:before {
    content: @cbcrc-icon-facebook-circle-outline;
  }
}
.cbcrc-icon-facebook-circle {
  &:before {
    content: @cbcrc-icon-facebook-circle;
  }
}
.cbcrc-icon-facebook-square {
  &:before {
    content: @cbcrc-icon-facebook-square;
  }
}
.cbcrc-icon-facebook {
  &:before {
    content: @cbcrc-icon-facebook;
  }
}
.cbcrc-icon-google-plus-circle-outline {
  &:before {
    content: @cbcrc-icon-google-plus-circle-outline;
  }
}
.cbcrc-icon-google-plus-circle {
  &:before {
    content: @cbcrc-icon-google-plus-circle;
  }
}
.cbcrc-icon-google-plus-square {
  &:before {
    content: @cbcrc-icon-google-plus-square;
  }
}
.cbcrc-icon-google-plus {
  &:before {
    content: @cbcrc-icon-google-plus;
  }
}
.cbcrc-icon-instagram-circle-outline {
  &:before {
    content: @cbcrc-icon-instagram-circle-outline;
  }
}
.cbcrc-icon-instagram-circle {
  &:before {
    content: @cbcrc-icon-instagram-circle;
  }
}
.cbcrc-icon-instagram-square {
  &:before {
    content: @cbcrc-icon-instagram-square;
  }
}
.cbcrc-icon-instagram {
  &:before {
    content: @cbcrc-icon-instagram;
  }
}
.cbcrc-icon-linkedin-circle-outline {
  &:before {
    content: @cbcrc-icon-linkedin-circle-outline;
  }
}
.cbcrc-icon-linkedin-circle {
  &:before {
    content: @cbcrc-icon-linkedin-circle;
  }
}
.cbcrc-icon-linkedin-square {
  &:before {
    content: @cbcrc-icon-linkedin-square;
  }
}
.cbcrc-icon-linkedin {
  &:before {
    content: @cbcrc-icon-linkedin;
  }
}
.cbcrc-icon-pinterest-circle-outline {
  &:before {
    content: @cbcrc-icon-pinterest-circle-outline;
  }
}
.cbcrc-icon-pinterest-square {
  &:before {
    content: @cbcrc-icon-pinterest-square;
  }
}
.cbcrc-icon-pinterest {
  &:before {
    content: @cbcrc-icon-pinterest;
  }
}
.cbcrc-icon-rss-circle-outline {
  &:before {
    content: @cbcrc-icon-rss-circle-outline;
  }
}
.cbcrc-icon-rss-circle {
  &:before {
    content: @cbcrc-icon-rss-circle;
  }
}
.cbcrc-icon-rss-square {
  &:before {
    content: @cbcrc-icon-rss-square;
  }
}
.cbcrc-icon-rss {
  &:before {
    content: @cbcrc-icon-rss;
  }
}
.cbcrc-icon-share-android {
  &:before {
    content: @cbcrc-icon-share-android;
  }
}
.cbcrc-icon-share-circle-outline {
  &:before {
    content: @cbcrc-icon-share-circle-outline;
  }
}
.cbcrc-icon-share-ios {
  &:before {
    content: @cbcrc-icon-share-ios;
  }
}
.cbcrc-icon-share {
  &:before {
    content: @cbcrc-icon-share;
  }
}
.cbcrc-icon-soundcloud-circle-outline {
  &:before {
    content: @cbcrc-icon-soundcloud-circle-outline;
  }
}
.cbcrc-icon-soundcloud-circle {
  &:before {
    content: @cbcrc-icon-soundcloud-circle;
  }
}
.cbcrc-icon-soundcloud-square {
  &:before {
    content: @cbcrc-icon-soundcloud-square;
  }
}
.cbcrc-icon-soundcloud {
  &:before {
    content: @cbcrc-icon-soundcloud;
  }
}
.cbcrc-icon-tumblr-circle-outline {
  &:before {
    content: @cbcrc-icon-tumblr-circle-outline;
  }
}
.cbcrc-icon-tumblr-circle {
  &:before {
    content: @cbcrc-icon-tumblr-circle;
  }
}
.cbcrc-icon-tumblr-square {
  &:before {
    content: @cbcrc-icon-tumblr-square;
  }
}
.cbcrc-icon-tumblr {
  &:before {
    content: @cbcrc-icon-tumblr;
  }
}
.cbcrc-icon-twitter-circle-outline {
  &:before {
    content: @cbcrc-icon-twitter-circle-outline;
  }
}
.cbcrc-icon-twitter-circle {
  &:before {
    content: @cbcrc-icon-twitter-circle;
  }
}
.cbcrc-icon-twitter-square {
  &:before {
    content: @cbcrc-icon-twitter-square;
  }
}
.cbcrc-icon-twitter {
  &:before {
    content: @cbcrc-icon-twitter;
  }
}
.cbcrc-icon-vine-circle-outline {
  &:before {
    content: @cbcrc-icon-vine-circle-outline;
  }
}
.cbcrc-icon-vine-circle {
  &:before {
    content: @cbcrc-icon-vine-circle;
  }
}
.cbcrc-icon-vine-square {
  &:before {
    content: @cbcrc-icon-vine-square;
  }
}
.cbcrc-icon-vine {
  &:before {
    content: @cbcrc-icon-vine;
  }
}
.cbcrc-icon-youtube-circle-outline {
  &:before {
    content: @cbcrc-icon-youtube-circle-outline;
  }
}
.cbcrc-icon-youtube-circle {
  &:before {
    content: @cbcrc-icon-youtube-circle;
  }
}
.cbcrc-icon-youtube-square {
  &:before {
    content: @cbcrc-icon-youtube-square;
  }
}
.cbcrc-icon-youtube {
  &:before {
    content: @cbcrc-icon-youtube;
  }
}
.cbcrc-icon-airplay {
  &:before {
    content: @cbcrc-icon-airplay;
  }
}
.cbcrc-icon-cast-connected {
  &:before {
    content: @cbcrc-icon-cast-connected;
  }
}
.cbcrc-icon-cast {
  &:before {
    content: @cbcrc-icon-cast;
  }
}
.cbcrc-icon-closed-caption-2 {
  &:before {
    content: @cbcrc-icon-closed-caption-2;
  }
}
.cbcrc-icon-closed-caption {
  &:before {
    content: @cbcrc-icon-closed-caption;
  }
}
.cbcrc-icon-code {
  &:before {
    content: @cbcrc-icon-code;
  }
}
.cbcrc-icon-extract-circle-outline {
  &:before {
    content: @cbcrc-icon-extract-circle-outline;
  }
}
.cbcrc-icon-extract {
  &:before {
    content: @cbcrc-icon-extract;
  }
}
.cbcrc-icon-fast-forward-circle-outline {
  &:before {
    content: @cbcrc-icon-fast-forward-circle-outline;
  }
}
.cbcrc-icon-fast-forward-circle {
  &:before {
    content: @cbcrc-icon-fast-forward-circle;
  }
}
.cbcrc-icon-fast-forward {
  &:before {
    content: @cbcrc-icon-fast-forward;
  }
}
.cbcrc-icon-fast-rewind-circle-outline {
  &:before {
    content: @cbcrc-icon-fast-rewind-circle-outline;
  }
}
.cbcrc-icon-fast-rewind-circle {
  &:before {
    content: @cbcrc-icon-fast-rewind-circle;
  }
}
.cbcrc-icon-fast-rewind {
  &:before {
    content: @cbcrc-icon-fast-rewind;
  }
}
.cbcrc-icon-fullscreen-exit {
  &:before {
    content: @cbcrc-icon-fullscreen-exit;
  }
}
.cbcrc-icon-fullscreen {
  &:before {
    content: @cbcrc-icon-fullscreen;
  }
}
.cbcrc-icon-pause-circle-outline {
  &:before {
    content: @cbcrc-icon-pause-circle-outline;
  }
}
.cbcrc-icon-pause-circle {
  &:before {
    content: @cbcrc-icon-pause-circle;
  }
}
.cbcrc-icon-pause {
  &:before {
    content: @cbcrc-icon-pause;
  }
}
.cbcrc-icon-play-circle-outline {
  &:before {
    content: @cbcrc-icon-play-circle-outline;
  }
}
.cbcrc-icon-play-circle {
  &:before {
    content: @cbcrc-icon-play-circle;
  }
}
.cbcrc-icon-play {
  &:before {
    content: @cbcrc-icon-play;
  }
}
.cbcrc-icon-skip-next-circle-outline {
  &:before {
    content: @cbcrc-icon-skip-next-circle-outline;
  }
}
.cbcrc-icon-skip-next-circle {
  &:before {
    content: @cbcrc-icon-skip-next-circle;
  }
}
.cbcrc-icon-skip-next {
  &:before {
    content: @cbcrc-icon-skip-next;
  }
}
.cbcrc-icon-skip-previous-circle-outline {
  &:before {
    content: @cbcrc-icon-skip-previous-circle-outline;
  }
}
.cbcrc-icon-skip-previous-circle {
  &:before {
    content: @cbcrc-icon-skip-previous-circle;
  }
}
.cbcrc-icon-skip-previous {
  &:before {
    content: @cbcrc-icon-skip-previous;
  }
}
.cbcrc-icon-stop-circle-outline {
  &:before {
    content: @cbcrc-icon-stop-circle-outline;
  }
}
.cbcrc-icon-stop-circle {
  &:before {
    content: @cbcrc-icon-stop-circle;
  }
}
.cbcrc-icon-stop {
  &:before {
    content: @cbcrc-icon-stop;
  }
}
.cbcrc-icon-video-description {
  &:before {
    content: @cbcrc-icon-video-description;
  }
}
.cbcrc-icon-volume-down {
  &:before {
    content: @cbcrc-icon-volume-down;
  }
}
.cbcrc-icon-volume-mute {
  &:before {
    content: @cbcrc-icon-volume-mute;
  }
}
.cbcrc-icon-volume-up {
  &:before {
    content: @cbcrc-icon-volume-up;
  }
}
.cbcrc-icon-arrow-back {
  &:before {
    content: @cbcrc-icon-arrow-back;
  }
}
.cbcrc-icon-arrow-downward {
  &:before {
    content: @cbcrc-icon-arrow-downward;
  }
}
.cbcrc-icon-arrow-dropdown {
  &:before {
    content: @cbcrc-icon-arrow-dropdown;
  }
}
.cbcrc-icon-arrow-dropup {
  &:before {
    content: @cbcrc-icon-arrow-dropup;
  }
}
.cbcrc-icon-arrow-forward {
  &:before {
    content: @cbcrc-icon-arrow-forward;
  }
}
.cbcrc-icon-arrow-keyboard-down {
  &:before {
    content: @cbcrc-icon-arrow-keyboard-down;
  }
}
.cbcrc-icon-arrow-keyboard-left {
  &:before {
    content: @cbcrc-icon-arrow-keyboard-left;
  }
}
.cbcrc-icon-arrow-keyboard-right {
  &:before {
    content: @cbcrc-icon-arrow-keyboard-right;
  }
}
.cbcrc-icon-arrow-keyboard-up {
  &:before {
    content: @cbcrc-icon-arrow-keyboard-up;
  }
}
.cbcrc-icon-arrow-upward {
  &:before {
    content: @cbcrc-icon-arrow-upward;
  }
}
.cbcrc-icon-bookmark-outline {
  &:before {
    content: @cbcrc-icon-bookmark-outline;
  }
}
.cbcrc-icon-bookmark {
  &:before {
    content: @cbcrc-icon-bookmark;
  }
}
.cbcrc-icon-check-box-outline {
  &:before {
    content: @cbcrc-icon-check-box-outline;
  }
}
.cbcrc-icon-check-circle-outline {
  &:before {
    content: @cbcrc-icon-check-circle-outline;
  }
}
.cbcrc-icon-check-circle {
  &:before {
    content: @cbcrc-icon-check-circle;
  }
}
.cbcrc-icon-check-square {
  &:before {
    content: @cbcrc-icon-check-square;
  }
}
.cbcrc-icon-check {
  &:before {
    content: @cbcrc-icon-check;
  }
}
.cbcrc-icon-circle-outline {
  &:before {
    content: @cbcrc-icon-circle-outline;
  }
}
.cbcrc-icon-circle {
  &:before {
    content: @cbcrc-icon-circle;
  }
}
.cbcrc-icon-close-circle-outline {
  &:before {
    content: @cbcrc-icon-close-circle-outline;
  }
}
.cbcrc-icon-close-circle {
  &:before {
    content: @cbcrc-icon-close-circle;
  }
}
.cbcrc-icon-close-square {
  &:before {
    content: @cbcrc-icon-close-square;
  }
}
.cbcrc-icon-close {
  &:before {
    content: @cbcrc-icon-close;
  }
}
.cbcrc-icon-favorite-outline {
  &:before {
    content: @cbcrc-icon-favorite-outline;
  }
}
.cbcrc-icon-favorite {
  &:before {
    content: @cbcrc-icon-favorite;
  }
}
.cbcrc-icon-minus-circle-outline {
  &:before {
    content: @cbcrc-icon-minus-circle-outline;
  }
}
.cbcrc-icon-minus-circle {
  &:before {
    content: @cbcrc-icon-minus-circle;
  }
}
.cbcrc-icon-minus-square {
  &:before {
    content: @cbcrc-icon-minus-square;
  }
}
.cbcrc-icon-minus {
  &:before {
    content: @cbcrc-icon-minus;
  }
}
.cbcrc-icon-plus-circle-outline {
  &:before {
    content: @cbcrc-icon-plus-circle-outline;
  }
}
.cbcrc-icon-plus-circle {
  &:before {
    content: @cbcrc-icon-plus-circle;
  }
}
.cbcrc-icon-plus-square {
  &:before {
    content: @cbcrc-icon-plus-square;
  }
}
.cbcrc-icon-plus {
  &:before {
    content: @cbcrc-icon-plus;
  }
}
.cbcrc-icon-radio-filled {
  &:before {
    content: @cbcrc-icon-radio-filled;
  }
}
.cbcrc-icon-radio-outline {
  &:before {
    content: @cbcrc-icon-radio-outline;
  }
}

