@font-face {
  font-family: 'cbcrc';
  src:  url('fonts/cbcrc.eot?me4c7p');
  src:  url('fonts/cbcrc.eot?me4c7p#iefix') format('embedded-opentype'),
    url('fonts/cbcrc.ttf?me4c7p') format('truetype'),
    url('fonts/cbcrc.woff?me4c7p') format('woff'),
    url('fonts/cbcrc.svg?me4c7p#cbcrc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cbcrc-icon-"], [class*=" cbcrc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cbcrc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cbcrc-icon-tool:before {
  content: "\e9aa";
}
.cbcrc-icon-bug:before {
  content: "\e9a8";
}
.cbcrc-icon-exit:before {
  content: "\e9a9";
}
.cbcrc-icon-asterisk:before {
  content: "\e900";
}
.cbcrc-icon-block:before {
  content: "\e901";
}
.cbcrc-icon-burger:before {
  content: "\e902";
}
.cbcrc-icon-calendar:before {
  content: "\e903";
}
.cbcrc-icon-camera:before {
  content: "\e904";
}
.cbcrc-icon-comment:before {
  content: "\e905";
}
.cbcrc-icon-discussion:before {
  content: "\e906";
}
.cbcrc-icon-document:before {
  content: "\e907";
}
.cbcrc-icon-download:before {
  content: "\e908";
}
.cbcrc-icon-drag-handle:before {
  content: "\e909";
}
.cbcrc-icon-error-circle:before {
  content: "\e90a";
}
.cbcrc-icon-folder-outline:before {
  content: "\e90b";
}
.cbcrc-icon-folder:before {
  content: "\e90c";
}
.cbcrc-icon-font-size:before {
  content: "\e90d";
}
.cbcrc-icon-gallery:before {
  content: "\e90e";
}
.cbcrc-icon-gem:before {
  content: "\e90f";
}
.cbcrc-icon-headphone-add:before {
  content: "\e910";
}
.cbcrc-icon-headphone-added:before {
  content: "\e911";
}
.cbcrc-icon-headphone-list:before {
  content: "\e912";
}
.cbcrc-icon-headphone-minus:before {
  content: "\e913";
}
.cbcrc-icon-headphone-remove:before {
  content: "\e914";
}
.cbcrc-icon-headphone:before {
  content: "\e915";
}
.cbcrc-icon-home:before {
  content: "\e916";
}
.cbcrc-icon-illustration:before {
  content: "\e917";
}
.cbcrc-icon-info-circle-outline:before {
  content: "\e918";
}
.cbcrc-icon-info:before {
  content: "\e919";
}
.cbcrc-icon-link:before {
  content: "\e91a";
}
.cbcrc-icon-live-2:before {
  content: "\e91b";
}
.cbcrc-icon-live:before {
  content: "\e91c";
}
.cbcrc-icon-location:before {
  content: "\e91d";
}
.cbcrc-icon-more-horiz:before {
  content: "\e91e";
}
.cbcrc-icon-more-vert:before {
  content: "\e91f";
}
.cbcrc-icon-open-in-new:before {
  content: "\e920";
}
.cbcrc-icon-printer:before {
  content: "\e921";
}
.cbcrc-icon-profile-circle-outline:before {
  content: "\e922";
}
.cbcrc-icon-profile:before {
  content: "\e923";
}
.cbcrc-icon-question-circle:before {
  content: "\e924";
}
.cbcrc-icon-search:before {
  content: "\e925";
}
.cbcrc-icon-second-screen:before {
  content: "\e926";
}
.cbcrc-icon-settings:before {
  content: "\e927";
}
.cbcrc-icon-time:before {
  content: "\e928";
}
.cbcrc-icon-upload:before {
  content: "\e929";
}
.cbcrc-icon-videocam:before {
  content: "\e92a";
}
.cbcrc-icon-view-list:before {
  content: "\e92b";
}
.cbcrc-icon-view-module:before {
  content: "\e92c";
}
.cbcrc-icon-warning:before {
  content: "\e92d";
}
.cbcrc-icon-witness:before {
  content: "\e92e";
}
.cbcrc-icon-email-circle-outline:before {
  content: "\e92f";
}
.cbcrc-icon-email-circle:before {
  content: "\e930";
}
.cbcrc-icon-email-square:before {
  content: "\e931";
}
.cbcrc-icon-email:before {
  content: "\e932";
}
.cbcrc-icon-facebook-circle-outline:before {
  content: "\e933";
}
.cbcrc-icon-facebook-circle:before {
  content: "\e934";
}
.cbcrc-icon-facebook-square:before {
  content: "\e935";
}
.cbcrc-icon-facebook:before {
  content: "\e936";
}
.cbcrc-icon-google-plus-circle-outline:before {
  content: "\e937";
}
.cbcrc-icon-google-plus-circle:before {
  content: "\e938";
}
.cbcrc-icon-google-plus-square:before {
  content: "\e939";
}
.cbcrc-icon-google-plus:before {
  content: "\e93a";
}
.cbcrc-icon-instagram-circle-outline:before {
  content: "\e93b";
}
.cbcrc-icon-instagram-circle:before {
  content: "\e93c";
}
.cbcrc-icon-instagram-square:before {
  content: "\e93d";
}
.cbcrc-icon-instagram:before {
  content: "\e93e";
}
.cbcrc-icon-linkedin-circle-outline:before {
  content: "\e93f";
}
.cbcrc-icon-linkedin-circle:before {
  content: "\e940";
}
.cbcrc-icon-linkedin-square:before {
  content: "\e941";
}
.cbcrc-icon-linkedin:before {
  content: "\e942";
}
.cbcrc-icon-pinterest-circle-outline:before {
  content: "\e943";
}
.cbcrc-icon-pinterest-square:before {
  content: "\e944";
}
.cbcrc-icon-pinterest:before {
  content: "\e945";
}
.cbcrc-icon-rss-circle-outline:before {
  content: "\e946";
}
.cbcrc-icon-rss-circle:before {
  content: "\e947";
}
.cbcrc-icon-rss-square:before {
  content: "\e948";
}
.cbcrc-icon-rss:before {
  content: "\e949";
}
.cbcrc-icon-share-android:before {
  content: "\e94a";
}
.cbcrc-icon-share-circle-outline:before {
  content: "\e94b";
}
.cbcrc-icon-share-ios:before {
  content: "\e94c";
}
.cbcrc-icon-share:before {
  content: "\e94d";
}
.cbcrc-icon-soundcloud-circle-outline:before {
  content: "\e94e";
}
.cbcrc-icon-soundcloud-circle:before {
  content: "\e94f";
}
.cbcrc-icon-soundcloud-square:before {
  content: "\e950";
}
.cbcrc-icon-soundcloud:before {
  content: "\e951";
}
.cbcrc-icon-tumblr-circle-outline:before {
  content: "\e952";
}
.cbcrc-icon-tumblr-circle:before {
  content: "\e953";
}
.cbcrc-icon-tumblr-square:before {
  content: "\e954";
}
.cbcrc-icon-tumblr:before {
  content: "\e955";
}
.cbcrc-icon-twitter-circle-outline:before {
  content: "\e956";
}
.cbcrc-icon-twitter-circle:before {
  content: "\e957";
}
.cbcrc-icon-twitter-square:before {
  content: "\e958";
}
.cbcrc-icon-twitter:before {
  content: "\e959";
}
.cbcrc-icon-vine-circle-outline:before {
  content: "\e95a";
}
.cbcrc-icon-vine-circle:before {
  content: "\e95b";
}
.cbcrc-icon-vine-square:before {
  content: "\e95c";
}
.cbcrc-icon-vine:before {
  content: "\e95d";
}
.cbcrc-icon-youtube-circle-outline:before {
  content: "\e95e";
}
.cbcrc-icon-youtube-circle:before {
  content: "\e95f";
}
.cbcrc-icon-youtube-square:before {
  content: "\e960";
}
.cbcrc-icon-youtube:before {
  content: "\e961";
}
.cbcrc-icon-airplay:before {
  content: "\e962";
}
.cbcrc-icon-cast-connected:before {
  content: "\e963";
}
.cbcrc-icon-cast:before {
  content: "\e964";
}
.cbcrc-icon-closed-caption-2:before {
  content: "\e965";
}
.cbcrc-icon-closed-caption:before {
  content: "\e966";
}
.cbcrc-icon-code:before {
  content: "\e967";
}
.cbcrc-icon-extract-circle-outline:before {
  content: "\e968";
}
.cbcrc-icon-extract:before {
  content: "\e969";
}
.cbcrc-icon-fast-forward-circle-outline:before {
  content: "\e96a";
}
.cbcrc-icon-fast-forward-circle:before {
  content: "\e96b";
}
.cbcrc-icon-fast-forward:before {
  content: "\e96c";
}
.cbcrc-icon-fast-rewind-circle-outline:before {
  content: "\e96d";
}
.cbcrc-icon-fast-rewind-circle:before {
  content: "\e96e";
}
.cbcrc-icon-fast-rewind:before {
  content: "\e96f";
}
.cbcrc-icon-fullscreen-exit:before {
  content: "\e970";
}
.cbcrc-icon-fullscreen:before {
  content: "\e971";
}
.cbcrc-icon-pause-circle-outline:before {
  content: "\e972";
}
.cbcrc-icon-pause-circle:before {
  content: "\e973";
}
.cbcrc-icon-pause:before {
  content: "\e974";
}
.cbcrc-icon-play-circle-outline:before {
  content: "\e975";
}
.cbcrc-icon-play-circle:before {
  content: "\e976";
}
.cbcrc-icon-play:before {
  content: "\e977";
}
.cbcrc-icon-skip-next-circle-outline:before {
  content: "\e978";
}
.cbcrc-icon-skip-next-circle:before {
  content: "\e979";
}
.cbcrc-icon-skip-next:before {
  content: "\e97a";
}
.cbcrc-icon-skip-previous-circle-outline:before {
  content: "\e97b";
}
.cbcrc-icon-skip-previous-circle:before {
  content: "\e97c";
}
.cbcrc-icon-skip-previous:before {
  content: "\e97d";
}
.cbcrc-icon-stop-circle-outline:before {
  content: "\e97e";
}
.cbcrc-icon-stop-circle:before {
  content: "\e97f";
}
.cbcrc-icon-stop:before {
  content: "\e980";
}
.cbcrc-icon-video-description:before {
  content: "\e981";
}
.cbcrc-icon-volume-down:before {
  content: "\e982";
}
.cbcrc-icon-volume-mute:before {
  content: "\e983";
}
.cbcrc-icon-volume-up:before {
  content: "\e984";
}
.cbcrc-icon-arrow-back:before {
  content: "\e985";
}
.cbcrc-icon-arrow-downward:before {
  content: "\e986";
}
.cbcrc-icon-arrow-dropdown:before {
  content: "\e987";
}
.cbcrc-icon-arrow-dropup:before {
  content: "\e988";
}
.cbcrc-icon-arrow-forward:before {
  content: "\e989";
}
.cbcrc-icon-arrow-keyboard-down:before {
  content: "\e98a";
}
.cbcrc-icon-arrow-keyboard-left:before {
  content: "\e98b";
}
.cbcrc-icon-arrow-keyboard-right:before {
  content: "\e98c";
}
.cbcrc-icon-arrow-keyboard-up:before {
  content: "\e98d";
}
.cbcrc-icon-arrow-upward:before {
  content: "\e98e";
}
.cbcrc-icon-bookmark-outline:before {
  content: "\e98f";
}
.cbcrc-icon-bookmark:before {
  content: "\e990";
}
.cbcrc-icon-check-box-outline:before {
  content: "\e991";
}
.cbcrc-icon-check-circle-outline:before {
  content: "\e992";
}
.cbcrc-icon-check-circle:before {
  content: "\e993";
}
.cbcrc-icon-check-square:before {
  content: "\e994";
}
.cbcrc-icon-check:before {
  content: "\e995";
}
.cbcrc-icon-circle-outline:before {
  content: "\e996";
}
.cbcrc-icon-circle:before {
  content: "\e997";
}
.cbcrc-icon-close-circle-outline:before {
  content: "\e998";
}
.cbcrc-icon-close-circle:before {
  content: "\e999";
}
.cbcrc-icon-close-square:before {
  content: "\e99a";
}
.cbcrc-icon-close:before {
  content: "\e99b";
}
.cbcrc-icon-favorite-outline:before {
  content: "\e99c";
}
.cbcrc-icon-favorite:before {
  content: "\e99d";
}
.cbcrc-icon-minus-circle-outline:before {
  content: "\e99e";
}
.cbcrc-icon-minus-circle:before {
  content: "\e99f";
}
.cbcrc-icon-minus-square:before {
  content: "\e9a0";
}
.cbcrc-icon-minus:before {
  content: "\e9a1";
}
.cbcrc-icon-plus-circle-outline:before {
  content: "\e9a2";
}
.cbcrc-icon-plus-circle:before {
  content: "\e9a3";
}
.cbcrc-icon-plus-square:before {
  content: "\e9a4";
}
.cbcrc-icon-plus:before {
  content: "\e9a5";
}
.cbcrc-icon-radio-filled:before {
  content: "\e9a6";
}
.cbcrc-icon-radio-outline:before {
  content: "\e9a7";
}

