@icomoon-font-path: "fonts";

@cbcrc-icon-tool: "\e9aa";
@cbcrc-icon-bug: "\e9a8";
@cbcrc-icon-exit: "\e9a9";
@cbcrc-icon-asterisk: "\e900";
@cbcrc-icon-block: "\e901";
@cbcrc-icon-burger: "\e902";
@cbcrc-icon-calendar: "\e903";
@cbcrc-icon-camera: "\e904";
@cbcrc-icon-comment: "\e905";
@cbcrc-icon-discussion: "\e906";
@cbcrc-icon-document: "\e907";
@cbcrc-icon-download: "\e908";
@cbcrc-icon-drag-handle: "\e909";
@cbcrc-icon-error-circle: "\e90a";
@cbcrc-icon-folder-outline: "\e90b";
@cbcrc-icon-folder: "\e90c";
@cbcrc-icon-font-size: "\e90d";
@cbcrc-icon-gallery: "\e90e";
@cbcrc-icon-gem: "\e90f";
@cbcrc-icon-headphone-add: "\e910";
@cbcrc-icon-headphone-added: "\e911";
@cbcrc-icon-headphone-list: "\e912";
@cbcrc-icon-headphone-minus: "\e913";
@cbcrc-icon-headphone-remove: "\e914";
@cbcrc-icon-headphone: "\e915";
@cbcrc-icon-home: "\e916";
@cbcrc-icon-illustration: "\e917";
@cbcrc-icon-info-circle-outline: "\e918";
@cbcrc-icon-info: "\e919";
@cbcrc-icon-link: "\e91a";
@cbcrc-icon-live-2: "\e91b";
@cbcrc-icon-live: "\e91c";
@cbcrc-icon-location: "\e91d";
@cbcrc-icon-more-horiz: "\e91e";
@cbcrc-icon-more-vert: "\e91f";
@cbcrc-icon-open-in-new: "\e920";
@cbcrc-icon-printer: "\e921";
@cbcrc-icon-profile-circle-outline: "\e922";
@cbcrc-icon-profile: "\e923";
@cbcrc-icon-question-circle: "\e924";
@cbcrc-icon-search: "\e925";
@cbcrc-icon-second-screen: "\e926";
@cbcrc-icon-settings: "\e927";
@cbcrc-icon-time: "\e928";
@cbcrc-icon-upload: "\e929";
@cbcrc-icon-videocam: "\e92a";
@cbcrc-icon-view-list: "\e92b";
@cbcrc-icon-view-module: "\e92c";
@cbcrc-icon-warning: "\e92d";
@cbcrc-icon-witness: "\e92e";
@cbcrc-icon-email-circle-outline: "\e92f";
@cbcrc-icon-email-circle: "\e930";
@cbcrc-icon-email-square: "\e931";
@cbcrc-icon-email: "\e932";
@cbcrc-icon-facebook-circle-outline: "\e933";
@cbcrc-icon-facebook-circle: "\e934";
@cbcrc-icon-facebook-square: "\e935";
@cbcrc-icon-facebook: "\e936";
@cbcrc-icon-google-plus-circle-outline: "\e937";
@cbcrc-icon-google-plus-circle: "\e938";
@cbcrc-icon-google-plus-square: "\e939";
@cbcrc-icon-google-plus: "\e93a";
@cbcrc-icon-instagram-circle-outline: "\e93b";
@cbcrc-icon-instagram-circle: "\e93c";
@cbcrc-icon-instagram-square: "\e93d";
@cbcrc-icon-instagram: "\e93e";
@cbcrc-icon-linkedin-circle-outline: "\e93f";
@cbcrc-icon-linkedin-circle: "\e940";
@cbcrc-icon-linkedin-square: "\e941";
@cbcrc-icon-linkedin: "\e942";
@cbcrc-icon-pinterest-circle-outline: "\e943";
@cbcrc-icon-pinterest-square: "\e944";
@cbcrc-icon-pinterest: "\e945";
@cbcrc-icon-rss-circle-outline: "\e946";
@cbcrc-icon-rss-circle: "\e947";
@cbcrc-icon-rss-square: "\e948";
@cbcrc-icon-rss: "\e949";
@cbcrc-icon-share-android: "\e94a";
@cbcrc-icon-share-circle-outline: "\e94b";
@cbcrc-icon-share-ios: "\e94c";
@cbcrc-icon-share: "\e94d";
@cbcrc-icon-soundcloud-circle-outline: "\e94e";
@cbcrc-icon-soundcloud-circle: "\e94f";
@cbcrc-icon-soundcloud-square: "\e950";
@cbcrc-icon-soundcloud: "\e951";
@cbcrc-icon-tumblr-circle-outline: "\e952";
@cbcrc-icon-tumblr-circle: "\e953";
@cbcrc-icon-tumblr-square: "\e954";
@cbcrc-icon-tumblr: "\e955";
@cbcrc-icon-twitter-circle-outline: "\e956";
@cbcrc-icon-twitter-circle: "\e957";
@cbcrc-icon-twitter-square: "\e958";
@cbcrc-icon-twitter: "\e959";
@cbcrc-icon-vine-circle-outline: "\e95a";
@cbcrc-icon-vine-circle: "\e95b";
@cbcrc-icon-vine-square: "\e95c";
@cbcrc-icon-vine: "\e95d";
@cbcrc-icon-youtube-circle-outline: "\e95e";
@cbcrc-icon-youtube-circle: "\e95f";
@cbcrc-icon-youtube-square: "\e960";
@cbcrc-icon-youtube: "\e961";
@cbcrc-icon-airplay: "\e962";
@cbcrc-icon-cast-connected: "\e963";
@cbcrc-icon-cast: "\e964";
@cbcrc-icon-closed-caption-2: "\e965";
@cbcrc-icon-closed-caption: "\e966";
@cbcrc-icon-code: "\e967";
@cbcrc-icon-extract-circle-outline: "\e968";
@cbcrc-icon-extract: "\e969";
@cbcrc-icon-fast-forward-circle-outline: "\e96a";
@cbcrc-icon-fast-forward-circle: "\e96b";
@cbcrc-icon-fast-forward: "\e96c";
@cbcrc-icon-fast-rewind-circle-outline: "\e96d";
@cbcrc-icon-fast-rewind-circle: "\e96e";
@cbcrc-icon-fast-rewind: "\e96f";
@cbcrc-icon-fullscreen-exit: "\e970";
@cbcrc-icon-fullscreen: "\e971";
@cbcrc-icon-pause-circle-outline: "\e972";
@cbcrc-icon-pause-circle: "\e973";
@cbcrc-icon-pause: "\e974";
@cbcrc-icon-play-circle-outline: "\e975";
@cbcrc-icon-play-circle: "\e976";
@cbcrc-icon-play: "\e977";
@cbcrc-icon-skip-next-circle-outline: "\e978";
@cbcrc-icon-skip-next-circle: "\e979";
@cbcrc-icon-skip-next: "\e97a";
@cbcrc-icon-skip-previous-circle-outline: "\e97b";
@cbcrc-icon-skip-previous-circle: "\e97c";
@cbcrc-icon-skip-previous: "\e97d";
@cbcrc-icon-stop-circle-outline: "\e97e";
@cbcrc-icon-stop-circle: "\e97f";
@cbcrc-icon-stop: "\e980";
@cbcrc-icon-video-description: "\e981";
@cbcrc-icon-volume-down: "\e982";
@cbcrc-icon-volume-mute: "\e983";
@cbcrc-icon-volume-up: "\e984";
@cbcrc-icon-arrow-back: "\e985";
@cbcrc-icon-arrow-downward: "\e986";
@cbcrc-icon-arrow-dropdown: "\e987";
@cbcrc-icon-arrow-dropup: "\e988";
@cbcrc-icon-arrow-forward: "\e989";
@cbcrc-icon-arrow-keyboard-down: "\e98a";
@cbcrc-icon-arrow-keyboard-left: "\e98b";
@cbcrc-icon-arrow-keyboard-right: "\e98c";
@cbcrc-icon-arrow-keyboard-up: "\e98d";
@cbcrc-icon-arrow-upward: "\e98e";
@cbcrc-icon-bookmark-outline: "\e98f";
@cbcrc-icon-bookmark: "\e990";
@cbcrc-icon-check-box-outline: "\e991";
@cbcrc-icon-check-circle-outline: "\e992";
@cbcrc-icon-check-circle: "\e993";
@cbcrc-icon-check-square: "\e994";
@cbcrc-icon-check: "\e995";
@cbcrc-icon-circle-outline: "\e996";
@cbcrc-icon-circle: "\e997";
@cbcrc-icon-close-circle-outline: "\e998";
@cbcrc-icon-close-circle: "\e999";
@cbcrc-icon-close-square: "\e99a";
@cbcrc-icon-close: "\e99b";
@cbcrc-icon-favorite-outline: "\e99c";
@cbcrc-icon-favorite: "\e99d";
@cbcrc-icon-minus-circle-outline: "\e99e";
@cbcrc-icon-minus-circle: "\e99f";
@cbcrc-icon-minus-square: "\e9a0";
@cbcrc-icon-minus: "\e9a1";
@cbcrc-icon-plus-circle-outline: "\e9a2";
@cbcrc-icon-plus-circle: "\e9a3";
@cbcrc-icon-plus-square: "\e9a4";
@cbcrc-icon-plus: "\e9a5";
@cbcrc-icon-radio-filled: "\e9a6";
@cbcrc-icon-radio-outline: "\e9a7";

